{% extends 'base.html' %}

{% block content %} 

    <div class="row float-left mt-1" style="clear:left;">
    <form class="ml-2 my-2 form-inline w-55" action = "{{ url_for('db_upload') }}" method = "POST"
         enctype = "multipart/form-data">
        <div class="form-group">
            <label for="db_file">File Input</label>
            <input type="file" class="form-control-file" name = "db_file" id="db_file" multiple>
        </div>
        <input type="submit" style="transform: translateY(25%);" class="btn btn-secondary"></input>
    </form>
    </div> 

{% endblock %}