{% extends 'base.html' %} 

{% block content %}

<div class="d-flex justify-content-start align-items-start mt-sm-2">
    <form id="wacc_inputs" class="mt-3 mt-sm-2" method="POST" action="{{ url_for('wacc_nums') }}" style="max-width: 1500px;width: 950px;">   
        {{ form.csrf_token }}
        <fieldset class="mb-1" style="width: 110px;"><legend class="pl-1 bg-primary text-white">WACC
            <span class="fa fa-calculator mx-1"></span></legend></fieldset>
        
        <div class="form-row">  
            <div class="form-group col-md-3">
                {{ form.weights.label }} {{ form.weights(class_="form-control") }}
            </div>         
            <div class="form-group col-md-3">
                {{ form.country.label }} {{ form.country(class_="form-control") }}
            </div>                     
            <div class="form-group col-md-4">        
                {{ form.beta.label }} {{ form.beta(class_="form-control") }}
            </div>      
            <div class="form-group col-md-2">        
                {{ form.beta_manual.label }} {{ form.beta_manual(class_="form-control") }}
            </div>                     
        </div>       

        <div class="form-row">         
            <div class="form-group col-md-3">    
                {{ form.yield_on_debt.label }} {{ form.yield_on_debt(class_="form-control") }}
            </div>
            <div class="form-group col-md-3">                    
                {{ form.tax.label }} {{ form.tax(class_="form-control", value=default_tax) }}
            </div>    
            <div class="form-group col-md-3">        
                {{ form.mvalue_debt.label }} {{ form.mvalue_debt(class_="form-control") }}
            </div> 
            <div class="form-group col-md-3">            
                {{ form.mvalue_equity.label }} {{ form.mvalue_equity(class_="form-control") }}
            </div>            
        </div>         

        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

<div class="my-2 mb-3 my-sm-3 my-lg-4" style="overflow:scroll; min-width:295px;">
    <table id="wacc-results">
        <thead>
			<tr>
                <th></th>
				<th colspan="3">CDS & Yield Spread Models</th>
				<th colspan="3">Rating-Based Models</th>
			</tr>        
			<tr>
				<th></th>
				<th>DM CDS Official</th>
				<th>DM CDS Custom</th>
				<th>DP Yield Official</th>
				<th>DM Rating Official</th>
				<th>DM Rating Custom</th>
                <th>DP Rating Official</th>
			</tr>
			<tr>
				<th>Last Update</th>
				<th>{{ dts['DM_OFFICIAL'] }}</th>
				<th>{{ dts['DM_CUSTOM'] }}</th>
				<th>{{ dts['DP_OFFICIAL'] }}</th>
				<th>{{ dts['DM_OFFICIAL'] }}</th>
				<th>{{ dts['DM_CUSTOM'] }}</th>
				<th>{{ dts['DP_OFFICIAL'] }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Weight RF Rate (A)</span></td>
				<td>{{ wacc_data[0]['td1'] }}</td>
				<td>{{ wacc_data[0]['td2'] }}</td>
                <td>1.67%</td>
				<td>2.00%</td>
				<td>1.93%</td>
				<td>1.67%</td>
			</tr>
			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Unlevered Industry Beta</td>
				<td>{{ wacc_data[1]['td1'] }}</td>
				<td>{{ wacc_data[1]['td2'] }}</td>
                <td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
			</tr>	
			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Levered Beta (B)</td>
				<td>1.00</td>
				<td>1.00</td>
                <td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
			</tr>	
			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>ERP (C)</td>
				<td>5.20%</td>
				<td>5.25%</td>
                <td>6.53%</td>
				<td>5.20%</td>
				<td>5.25%</td>
				<td>6.53%</td>
			</tr>            
			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>BASE COE (A + B * C)</td>
				<td>7.20%</td>
				<td>7.18%</td>
                <td>8.20%</td>
				<td>7.20%</td>
				<td>7.18%</td>
				<td>8.20%</td>
			</tr>
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>CRP (D)</td>
				<td>0.60%</td>
				<td>0.53%</td>
                <td>NA</td>
				<td>0.49%</td>
				<td>0.88%</td>
				<td>NA</td>
			</tr>             
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Int. COE (A + B * C) + (D)</td>
				<td>7.80%</td>
				<td>7.71%</td>
                <td>NA</td>
				<td>7.69%</td>
				<td>8.05%</td>
				<td>NA</td>
			</tr> 
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Mkt Equity Val (CUR, MM)</td>
				<td>1.00</td>
				<td>1.00</td>
                <td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
			</tr> 
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Enterprise Val (%)</td>
				<td>100%</td>
				<td>100%</td>
                <td>100%</td>
				<td>100%</td>
				<td>100%</td>
				<td>100%</td>
			</tr> 
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Pre Tax Cost of Debt (%)</td>
				<td>0.00%</td>
				<td>0.00%</td>
                <td>0.00%</td>
				<td>0.00%</td>
				<td>0.00%</td>
				<td>0.00%</td>
			</tr>
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>After Tax Cost of Debt (%)</td>
				<td>0.00%</td>
				<td>0.00%</td>
                <td>0.00%</td>
				<td>0.00%</td>
				<td>0.00%</td>
				<td>0.00%</td>
			</tr>    
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Mkt Val of Debt (CUR, MM)</td>
				<td>0.0</td>
				<td>0.0</td>
                <td>0.0</td>
				<td>0.0</td>
				<td>0.0</td>
				<td>0.0</td>
			</tr>                                 
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Enterprise Val (%)</td>
				<td>0%</td>
				<td>0%</td>
                <td>0%</td>
				<td>0%</td>
				<td>0%</td>
				<td>0%</td>
			</tr> 
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Enterprise Val (CUR, MM)</td>
				<td>1.00</td>
				<td>1.00</td>
                <td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
				<td>1.00</td>
			</tr>             
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Enterprise Val (%)</td>
				<td>100%</td>
				<td>100%</td>
                <td>100%</td>
				<td>100%</td>
				<td>100%</td>
				<td>100%</td>
			</tr> 
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>Debt to Equity Ratio (%)</td>
				<td>0%</td>
				<td>0%</td>
                <td>0%</td>
				<td>0%</td>
				<td>0%</td>
				<td>0%</td>
			</tr>   
 			<tr class="pt-1 pt-sm-1 pt-md-0">
				<td>WACC</td>
				<td>7.80%</td>
				<td>7.71%</td>
                <td>NA</td>
				<td>7.69%</td>
				<td>8.05%</td>
				<td>NA</td>
			</tr>                                   
		</tbody>
    </table>
</div>

{% endblock %}


{% block morescripts %}
<script type="text/javascript">
    const taxJSonCl = {{ taxJSonCl|tojson }};

    const csrf_token = $('#csrf_token').val();
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $('#wacc_inputs').on('submit', function(e) {
        $.ajax({
            type : 'POST',
            url : $SCRIPT_ROOT + '/_wacc_nums',
            async : true,
            contentType: "application/json",
            data : JSON.stringify({
                    "weights": $('#weights').children("option:selected").text(),
                    "country": $('#country').children("option:selected").val(),
                    "beta": $('#beta').children("option:selected").text(),
                    "beta_manual": $('#beta_manual').val(),
                    "yield_on_debt": $('input[name="yield_on_debt"]').val(),
                    "tax": $('input[name="tax"]').val(),
                    "mvalue_debt": $('input[name="mvalue_debt"]').val(),
                    "mvalue_equity": $('input[name="mvalue_equity"]').val()
                })
            })
            .done(function(data, status, xhr) {
                if (data.wacc_data && data.wacc_data.length) {
                    console.log(data);

                    $.each(data.wacc_data, function(i, item) {
                        console.log(i);
                        console.log(item.td1);
                        console.log(item.td2);
                    });

                    //$("#wacc-results tr").each(function (i, val) {      
                        //$(this).children("td").each(function (j, val) {    
                            //console.log(val.innerText); //index 0
                            //val.innerText = 9999;           
                        //});
                    //});
                    
                    if ($('header + div.alert-danger').length) {
                        $("header + div.alert-danger").remove();
                    }

                    return true
                } else {

                    if ($('header + div.alert-danger').length == 0) {
                        $("header").after("<div class='alert-danger pl-4 py-2 text-left'>Wrong Input Data. Please Try Again </div>");
                    }

                    return false
                }
            })
            .fail(function(xhr, status, err) {})
            .always(function(xhrOrData, textStatus, xhrOrErr) {})
        e.preventDefault();
    });

    //$("tr:nth-child(1)").find("td:eq(1)").text(9999);

</script>
{% endblock %}