{% extends 'base.html' %} 

{% block content %}

<div class="d-flex justify-content-start align-items-start mt-sm-2">
    <form id="wacc_inputs" class="mt-3 mt-sm-2" method="POST" action="{{ url_for('wacc_nums') }}">
        {{ form.csrf_token }}    
        <fieldset class="mb-1" style="width: 110px;"><legend class="pl-1 bg-primary text-white">WACC
            <span class="fa fa-calculator mx-1"></span></legend></fieldset>
        
        <div class="form-row">  
            <div class="form-group col-md-5">
                {{ form.country.label }} {{ form.country(class_="form-control") }}
            </div>           
            <div class="form-group col-md-4">
                {{ form.weights.label }} {{ form.weights(class_="form-control") }}
            </div>           
            <div class="form-group col-md-3">        
                {{ form.beta.label }} {{ form.beta(class_="form-control") }}
            </div>              
        </div>       

        <div class="form-row">         
            <div class="form-group col-md-3">    
                {{ form.yield_on_debt.label }} {{ form.yield_on_debt(class_="form-control") }}
            </div>
            <div class="form-group col-md-3">                    
                {{ form.tax.label }} {{ form.tax(class_="form-control") }}
            </div>    
            <div class="form-group col-md-3">        
                {{ form.mvalue_debt.label }} {{ form.mvalue_debt(class_="form-control") }}
            </div> 
            <div class="form-group col-md-3">            
                {{ form.mvalue_equity.label }} {{ form.mvalue_equity(class_="form-control") }}
            </div>            
        </div>         

        {{ form.submit(class_="btn btn-primary") }}
    </form>
</div>

<div>
    <table id="wacc-results" class="my-1 mb-3 my-sm-3 my-lg-4">
        <thead>
			<tr>
                <th></th>
				<th colspan="3">CDS & Yield Spread Models</th>
				<th colspan="3">Rating-Based Models</th>
			</tr>        
			<tr>
				<th></th>
				<th>DM CDS Official</th>
				<th>DM CDS Custom</th>
				<th>DP Yield Official</th>
				<th>DM Rating Official</th>
				<th>DM Rating Custom</th>
                <th>DP Rating Official</th>
			</tr>
			<tr>
				<th>Last Update</th>
				<th>Dec 19</th>
				<th>19 Dec 19</th>
				<th>Sep 19</th>
				<th>Dec 19</th>
				<th>19 Dec 19</th>
				<th>Sep 19</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Weight RF Rate (A)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">2.00%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">1.93%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">1.67%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">2.00%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">1.93%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">1.67%<span data-model="Rating" class="modelHeader"></span></td>
			</tr>
			<tr>
				<td>Unlevered Industry Beta<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">1.00<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">1.00<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">1.00<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
			</tr>	
			<tr>
				<td>Levered Beta (B)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">1.00<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">1.00<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">1.00<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
			</tr>	
			<tr>
				<td>ERP (C)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">5.20%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">5.25%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">6.53%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">5.20%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">5.25%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">6.53%<span data-model="Rating" class="modelHeader"></span></td>
			</tr>            
			<tr>
				<td>BASE COE (A + B * C)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">7.20%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">7.18%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">8.20%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">7.20%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">7.18%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">8.20%<span data-model="Rating" class="modelHeader"></span></td>
			</tr>
 			<tr>
				<td>CRP (D)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">0.60%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">0.53%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">NA<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">0.49%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">0.88%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">NA<span data-model="Rating" class="modelHeader"></span></td>
			</tr>             
 			<tr>
				<td>Int. COE (A + B * C) + (D)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">7.80%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">7.71%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">NA<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">7.69%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">8.05%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">NA<span data-model="Rating" class="modelHeader"></span></td>
			</tr> 
 			<tr>
				<td>Mkt Equity Val (CUR, MM)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">1.00<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">1.00<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">1.00<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
			</tr> 
 			<tr>
				<td>Enterprise Val (%)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">100%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">100%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">100%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">100%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">100%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">100%<span data-model="Rating" class="modelHeader"></span></td>
			</tr> 
 			<tr>
				<td>Pre Tax Cost of Debt (%)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">0.00%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">0.00%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">0.00%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">0.00%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">0.00%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">0.00%<span data-model="Rating" class="modelHeader"></span></td>
			</tr>
 			<tr>
				<td>After Tax Cost of Debt (%)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">0.00%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">0.00%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">0.00%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">0.00%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">0.00%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">0.00%<span data-model="Rating" class="modelHeader"></span></td>
			</tr>    
 			<tr>
				<td>Mkt Val of Debt (CUR, MM)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">0.0<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">0.0<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">0.0<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">0.0<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">0.0<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">0.0<span data-model="Rating" class="modelHeader"></span></td>
			</tr>                                 
 			<tr>
				<td>Enterprise Val (%)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">0%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">0%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">0%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">0%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">0%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">0%<span data-model="Rating" class="modelHeader"></span></td>
			</tr> 
 			<tr>
				<td>Enterprise Val (CUR, MM)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">1.00<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">1.00<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">1.00<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">1.00<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">1.00<span data-model="Rating" class="modelHeader"></span></td>
			</tr>             
 			<tr>
				<td>Enterprise Val (%)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">100%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">100%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">100%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">100%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">100%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">100%<span data-model="Rating" class="modelHeader"></span></td>
			</tr> 
 			<tr>
				<td>Debt to Equity Ratio (%)<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">0%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">0%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">0%<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">0%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">0%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">0%<span data-model="Rating" class="modelHeader"></span></td>
			</tr>   
 			<tr>
				<td>WACC<span data-model="Model" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM CDS Official">7.80%<span data-model="CDS" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM CDS Custom">7.71%<span data-model="CDS" class="modelHeader"></span></td>
                <td data-period="Sep 19" data-source="DP Yield Official">NA<span data-model="Yield" class="modelHeader"></span></td>
				<td data-period="Dec 19" data-source="DM Rating Official">7.69%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="19 Dec 19" data-source="DM Rating Custom">8.05%<span data-model="Rating" class="modelHeader"></span></td>
				<td data-period="Sep 19" data-source="DP Rating Official">NA<span data-model="Rating" class="modelHeader"></span></td>
			</tr>                                   
		</tbody>
    </table>
</div>

{% endblock %}


{% block morescripts %}
<script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $('#wacc_inputs').on('submit', function(e) {
        $.ajax({
            data : {
                beta: $('input[name="beta"]').val(),
                mvalue_equity: $('input[name="mvalue_equity"]').val(),
                weights: $('#weights').children("option:selected").val()
            },
            type : 'POST',
            url : $SCRIPT_ROOT + '/_wacc_nums'
            })
            .done(function(data) {
                console.log(data);
                $.each(data.result, function(key, item) {
                    console.log(item.name);
                    console.log(item.value);
                });
            });
        e.preventDefault();
    });

</script>
{% endblock %}